In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [5]:
train_y = data['Survived']

In [7]:
data['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [31]:
female_mean = data.groupby(['Sex']).mean()['Age'][0]
male_mean = data.groupby(['Sex']).mean()['Age'][1]
male_mean

30.72664459161148

In [37]:
# data[data['Sex']=='male']['Age'].fillna(male_mean, inplace=True)
# data[data['Sex']=='female']['Age'].fillna(female_mean, inplace=True)
data['Age'].fillna(data.groupby(["Sex"])["Age"].transform(np.mean), inplace=True)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [39]:
train = data.drop(['Name','Ticket'], axis=1)

In [47]:
train_copy = train.copy()
train_copy = pd.get_dummies(train_copy, columns=['Sex'], prefix='gender')
train_copy.drop('Cabin',axis=1,inplace=True)

In [49]:
train_copy = pd.get_dummies(train_copy, columns=['Embarked'],prefix='Embarked')
# train_copy

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,gender_female,gender_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.000000,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.000000,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.000000,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.000000,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.000000,0,0,8.0500,0,1,0,0,1
5,6,0,3,30.726645,0,0,8.4583,0,1,0,1,0
6,7,0,1,54.000000,0,0,51.8625,0,1,0,0,1
7,8,0,3,2.000000,3,1,21.0750,0,1,0,0,1
8,9,1,3,27.000000,0,2,11.1333,1,0,0,0,1
9,10,1,2,14.000000,1,0,30.0708,1,0,1,0,0
10,11,1,3,4.000000,1,1,16.7000,1,0,0,0,1
11,12,1,1,58.000000,0,0,26.5500,1,0,0,0,1
12,13,0,3,20.000000,0,0,8.0500,0,1,0,0,1
13,14,0,3,39.000000,1,5,31.2750,0,1,0,0,1
14,15,0,3,14.000000,0,0,7.8542,1,0,0,0,1
15,16,1,2,55.000000,0,0,16.0000,1,0,0,0,1
16,17,0,3,2.000000,4,1,29.1250,0,1,0,1,0
17,18,1,2,30.726645,0,0,13.0000,0,1,0,0,1
18,19,0,3,31.000000,1,0,18.0000,1,0,0,0,1
19,20,1,3,27.915709,0,0,7.2250,1,0,1,0,0
20,21,0,2,35.000000,0,0,26.0000,0,1,0,0,1
21,22,1,2,34.000000,0,0,13.0000,0,1,0,0,1
22,23,1,3,15.000000,0,0,8.0292,1,0,0,1,0
23,24,1,1,28.000000,0,0,35.5000,0,1,0,0,1
24,25,0,3,8.000000,3,1,21.0750,1,0,0,0,1
25,26,1,3,38.000000,1,5,31.3875,1,0,0,0,1
26,27,0,3,30.726645,0,0,7.2250,0,1,1,0,0
27,28,0,1,19.000000,3,2,263.0000,0,1,0,0,1
28,29,1,3,27.915709,0,0,7.8792,1,0,0,1,0
29,30,0,3,30.726645,0,0,7.8958,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,21.000000,1,0,11.5000,0,1,0,0,1
862,863,1,1,48.000000,0,0,25.9292,1,0,0,0,1
863,864,0,3,27.915709,8,2,69.5500,1,0,0,0,1
864,865,0,2,24.000000,0,0,13.0000,0,1,0,0,1
865,866,1,2,42.000000,0,0,13.0000,1,0,0,0,1
866,867,1,2,27.000000,1,0,13.8583,1,0,1,0,0
867,868,0,1,31.000000,0,0,50.4958,0,1,0,0,1
868,869,0,3,30.726645,0,0,9.5000,0,1,0,0,1
869,870,1,3,4.000000,1,1,11.1333,0,1,0,0,1
870,871,0,3,26.000000,0,0,7.8958,0,1,0,0,1
871,872,1,1,47.000000,1,1,52.5542,1,0,0,0,1
872,873,0,1,33.000000,0,0,5.0000,0,1,0,0,1
873,874,0,3,47.000000,0,0,9.0000,0,1,0,0,1
874,875,1,2,28.000000,1,0,24.0000,1,0,1,0,0
875,876,1,3,15.000000,0,0,7.2250,1,0,1,0,0
876,877,0,3,20.000000,0,0,9.8458,0,1,0,0,1
877,878,0,3,19.000000,0,0,7.8958,0,1,0,0,1
878,879,0,3,30.726645,0,0,7.8958,0,1,0,0,1
879,880,1,1,56.000000,0,1,83.1583,1,0,1,0,0
880,881,1,2,25.000000,0,1,26.0000,1,0,0,0,1
881,882,0,3,33.000000,0,0,7.8958,0,1,0,0,1
882,883,0,3,22.000000,0,0,10.5167,1,0,0,0,1
883,884,0,2,28.000000,0,0,10.5000,0,1,0,0,1
884,885,0,3,25.000000,0,0,7.0500,0,1,0,0,1
885,886,0,3,39.000000,0,5,29.1250,1,0,0,1,0
886,887,0,2,27.000000,0,0,13.0000,0,1,0,0,1
887,888,1,1,19.000000,0,0,30.0000,1,0,0,0,1
888,889,0,3,27.915709,1,2,23.4500,1,0,0,0,1
889,890,1,1,26.000000,0,0,30.0000,0,1,1,0,0
890,891,0,3,32.000000,0,0,7.7500,0,1,0,1,0

In [54]:
# train_x = train_copy.drop('	PassengerId',axis=1)
# train_x.head(5)
a = train_copy.columns[0]
train_x = train_copy.drop(a, axis=1)

In [56]:
# train_x.head(5)
# train_x['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6], dtype=int64)

In [50]:
data_test = pd.read_csv('test.csv')
data_test.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [58]:
data_test['Age'].fillna(data_test.groupby(["Sex"])["Age"].transform(np.mean), inplace=True)
test = data_test.drop(['Name','Ticket','Cabin',data_test.columns[0]], axis=1)
test_copy = test.copy()
test_copy = pd.get_dummies(test_copy, columns=['Sex'], prefix='gender')
# test_copy.drop('Cabin',axis=1,inplace=True)
test_copy = pd.get_dummies(test_copy, columns=['Embarked'],prefix='Embarked')
# train_copy

,Pclass,Age,SibSp,Parch,Fare,gender_female,gender_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1

In [59]:
test_x = test_copy